<html>
<meta name="viewport" content="width=device-width" />
<head>
    <title>Funds</title>
    <link rel="stylesheet" href="/lib/foundation/css/foundation.min.css"/>
    <link rel="stylesheet" href="/style/app.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <!--<script src="//code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>-->
    <script src="/script/funds.js"></script>

</head>
<body>
    <% include navbar %>
    <div class="row">
        <div class="large-4 small-12 columns">
            <a href="/accounts/<%= account %>/transactions/add" class="button success expand"><i class="fa fa-plus"></i> Add Transaction</a>
        </div>
        <div class="large-8 small-12 columns">
            <h3>Total for <%= moment().format("MMM")%>:
                <% if(total < 0) { %>
                    <span class="negative amount">-$<%= total*-1 %></span>
                <% } else { %>
                    <span class="positive amount">$<%= total %></span>
                <% } %>
            </h3>
        </div>
    </div>
    <div class="row">
        <div id="filter" class="large-12 columns">
        </div>
    </div>
    <div class="row">
        <div class="large-8 small-12 columns">
        <% transactions.forEach(function(trans) { %>
        <div class="transaction">
            <div class="tags">
            <% trans.tags.forEach(function(tag) { %>
                <div class="tag"> <%= tag %> </div>
            <% }); %>
            </div>
            <div class="transaction_image">
                <img class="transaction_user" src="<%= trans.user_avatar%>"/>
            </div>
            <div class="transaction_info">
                <% if(trans.amount < 0) { %>
                    <span class="negative amount">-$<%= trans.amount*-1 %></span>
                <% } else { %>
                    <span class="positive amount">+$<%= trans.amount %></span>
                <% } %>
                <span class="timestamp"><%= trans.store %></span>
                <span class="timestamp"><%= moment(trans.timestamp).fromNow() %></span>
            </div>
        </div>
        <% }); %>
        </div>
    </div>
</body>
</html>
